.Credit,
.Debit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #3d3d3d;
  padding: 1rem;
  .NCdets {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .NCnote {
        color: #d9d9d9;
        font-size: 1.125rem;
        font-weight: 400;
        margin: 0;
      }
      .NCuser {
        color: #8e8e8e;
        font-size: 1rem;
        font-weight: 400;
        margin: 0;
      }
    }
  }
  .Amount {
    display: flex;
    flex-direction: column;
    text-align: right;
    .Amoney {
      font-size: 1.125rem;
      font-weight: 600;
    }
    .Amoney + p {
      color: #808080;
      font-size: 1rem;
      font-weight: 400;
    }

    p {
      margin: 0;
    }
  }
}
.Credit {
  .Amoney {
    color: #4bffb3;
  }
}
.Debit {
  .Amoney {
    color: #fcfcfc;
  }
}
